@import './breakpoints.scss';
.about {
    padding: 46px 15px;

    &__article {
        width: 100%;
        
        div {
            margin: 0px 0px 20px 0px;
        }
    }
    
    @include for-sm-up {
        width: 1400px;
        height: 255px;
        background: $background-color;
        padding-left: 130px;
        padding-right: 130px;
        display: flex;
        align-items: center;

        .about{
            &__article {
                display: flex;
                justify-content: space-between;
                margin-top: 77px;
                margin-bottom: 76px;
            }
            &__article div {
                width: 555px;
                height: 102px;
                margin-right: 29px;
            }
        }
    }
}



.article{
    &__title {
        margin: 0;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
    }
    &__text {
        font-size: 22px;
        line-height: 32px;
        margin: 0;
    }
}
