@import './breakpoints.scss';
.about {
    background: #F4F5F7;
    padding: 46px 15px;
    @include for-sm-up {
        display: flex;
        padding: 77px 131px 76px 130px;
    }
    article {
        margin-bottom: 20px;
        @include for-sm-up {
            margin: 0;
            margin-right: 29px;
        }
    }
    article:last-child {
        margin: 0;
    }
}

.article {
    &__title {
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        margin: 0;
    }
    &__text {
        font-size: 22px;
        line-height: 32px;
    }
}