.communication{
    padding: 50px 15px;
    @include for-sm-up{
        padding: 110px 130px 110px 126px;
        
    }
    &__upper{
        @include for-sm-up{
            margin-bottom: 68px;
            display: flex;
        }  
    }
    &__lower{
        @include for-sm-up{
            display: flex;
        }
    }
    &__text-content{
        width: 462px;
        margin-right: 193px;
    }

    &__subtitle{
        @include for-sm-up{
            margin: 0;
            margin-top: 13px;
        }
        font-weight: bold;
        font-size: 22px;
        line-height: 34px;
        /* identical to box height, or 155% */
        color: $subtitle-tertiary-color;
    }
    &__title{
        @include for-sm-up{
            margin: 0;
            margin-top: 24px;
        }
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        /* or 100% */
        letter-spacing: -0.357143px;
        color: $text-color-black;
        margin-top: 17px;
    }
    &__text{
        @include for-sm-up{
            margin: 0;
            margin-top: 30px;
        }
        font-size: 24px;
        line-height: 34px;
        color: $text-color-black;
    }
    &__button{
        @include for-sm-up{
            margin: 0;
            margin-top: 39px;
        }
        width: 160px;
        margin-top: 30px;
    }
    &__small-image {
        margin-top: 40px;
        margin-bottom: 74px;
        @include for-sm-up{
            display: none;
        }
        img{
            max-width: 100%;
        }
        &-caption{
            margin-top: 17px;
            font-size: 14px;
            line-height: 22px;
            color: $text-secondary-color;
            text-align: center;
        }    
    }
    &__big-image{
        display: none;
        @include for-sm-up{
            display: block;
            margin: 0;
        }
    }
    &__text_block{
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 26px;
        p{
            margin: 0;
        }
        a{
            font-weight: bold;
        }
        @include for-sm-up{
            width: 33%;
            margin-right: 30px;
        }
    }
    
}