.inbox{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 48px;
    @include for-sm-up{
        display: flex;
        padding-left: 193px;
        padding-right: 99px;
        padding-top: 115px;
        padding-bottom: 115px;
    }
    
    &__small-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        @include for-sm-up{
            display: none;
        }

    }
    &__big-image{
        display: none;
        @include for-sm-up{
            display: block;
            margin: 0;
            margin-right: 164px;
        }
    }

    &__image{
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 32px;
        @include for-sm-up{
            // width: 425px;
            height: 510px;
            margin: 0;
        }
    }
    &__subtitle{
        margin: 0;
        font-size: 22px;
        line-height: 34px;
        /* identical to box height, or 155% */
        color: $subtitle-secondary-color;
    }
    &__title{
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        /* or 100% */
        letter-spacing: -0.357143px;
        color: $text-color-black;
        margin: 0;
        margin-top: 17px;
        @include for-sm-up{
            font-size: 56px;
            line-height: 56px;
            /* or 100% */
            letter-spacing: -0.5px;
        }
    }
    &__text{
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        margin: 0;
        margin-top: 18px;
        @include for-sm-up{
            margin-top: 30px;
        }
    }
    &__comment-box{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        margin: 0;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        @include for-sm-up{
            margin-top: 44px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
        }
        &_text{
            font-size: 20px;
            line-height: 28px;
            margin: 0;

        }
        
    }
    &__bottom-line{
        margin-top: 28px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #0185D0;
        background-blend-mode: overlay, normal;
        height: 4px;
        @include for-sm-up{
            margin-top: 24px;
        }
    }
    
}

.avatar-container{
    margin-top: 26px;
    display: flex;
    img{
        margin-right: 11px;
        height: 100%;
    }
}
.avatar__title-container{
    display: flex;
    flex-direction: column;
}
.avatar-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.avatar-description{
    font-size: 16px;
    line-height: 22px;
    color: $text-secondary-color;
}