@import './breakpoints.scss';
@import './variables';
@import './about.scss';
@import './customers.scss';
@import './tips';
@import './features';
@import './footer';
@import './header';
@import './headline';
@import './inbox.scss';
@import './communication.scss';
@import './audience.scss';
@import './feedback.scss';
@import './hiring.scss';
@import './order.scss';
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: $text-color-black;
}

.page {
    width: 100%;
    overflow-x: hidden;
    @include for-sm-up {
        width: 1400px;
        margin: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}