.order-mob {
    @include for-sm-up {
        display: none;
    }
    background: #F4F5F7;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    &__small-img {
        margin: auto;
        max-width: 100%;
    }
    &__title {
        margin: 0;
        padding: 0;
        margin-top: 40px;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        /* or 100% */
        letter-spacing: -0.357143px;
    }
    &__text {
        margin: 0;
        padding: 0;
        margin-top: 18px;
        font-size: 24px;
        line-height: 34px;
    }
    &__button {
        margin-top: 12px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border-radius: 2px;
        border: none;
        width: 100%;
        height: 48px;
        color: #fff;
        font-weight: 700;
    }
    &__input {
        margin-top: 40px;
        border: 1px solid rgba(43, 41, 45, 0.2);
        border-radius: 2px;
        height: 48px;
        color: #2B292D;
        font-weight: normal;
        font-size: 18px;
        line-height: 13px;
        /* identical to box height, or 72% */
        text-align: center;
        color: #2B292D;
        width: 100%;
        text-align: center;
    }
    &__add-text {
        font-size: 14px;
        line-height: 22px;
        /* or 157% */
        color: rgba(43, 41, 45, 0.6);
        margin-top: 10px;
    }
}

.order {
    display: none;
    @include for-sm-up {
        display: flex;
        &__img {
            margin: 73px 0px 72px 224px;
        }
        &__text-content {
            display: flex;
            flex-direction: column;
            margin: 106px 229px 105px 122px;
        }
        &__title {
            font-weight: bold;
            font-size: 40px;
            line-height: 40px;
            /* or 100% */
            letter-spacing: -0.25px;
            color: #2B292D;
        }
        &__text {
            font-weight: normal;
            font-size: 22px;
            line-height: 32px;
            /* or 145% */
            color: #2B292D;
        }
        &__form {
            display: flex;
            margin-top: 26px;
        }
        &__input {
            border: 1px solid rgba(43, 41, 45, 0.2);
            border-radius: 2px;
            margin-right: 10px;
            height: 48px;
            padding: 17px 0 18px 15px;
        }
        &__button {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
            background-blend-mode: overlay, normal;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
            border-radius: 2px;
            width: 160px;
            height: 48px;
            color: white;
            border: none;
            font-weight: bold;
            font-size: 18px;
            line-height: 13px;
        }
        &__add-text {
            margin-top: 10px;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            /* identical to box height, or 157% */
            color: rgba(43, 41, 45, 0.6);
        }
    }
}