$text-color-black: #2B292D;

$background-color: #F4F5F7;

$background-color-secondary: #F3C6BD;

$border-color: #e3e3e3;

$subtitle-color: #009B4D;
$subtitle-secondary-color: #F1592B;

$link-hovered-color: #3142C6;

$menu-button-border-left-color: #00000026;

$button-light-text-color: #3040C4;

$text-secondary-color: rgba(43, 41, 45, 0.6);