.about {
    width: 1400px;
    height: 255px;
    background: #F4F5F7;
    padding-left: 130px;
    padding-right: 130px;
}

.about__article {
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
    margin-bottom: 76px;
    /* justify-content: space-around; */
}

.about__article div {
    width: 555px;
    height: 102px;
    margin-right: 29px;
}

.article__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
}

.article__text {
    font-size: 22px;
    line-height: 32px;
    margin: 0;
}