.customers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customers__container {
    display: flex;
}

.customers img {
    filter: brightness(0);
    max-width: 80%;
}

.customers__item {
    height: 94px;
    width: 107px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e3e3e3;
}

.customers__item:last-child {
    border-right: none;
}

@media screen and (min-width: 400px) {
    .customers {
        padding-left: 130px;
        padding-right: 130px;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .customers__item {
        border: none;
    }
    .customers__container {
        flex: 1;
        justify-content: space-around;
    }
    .customers img {
        filter: brightness(0);
        max-width: 100%;
    }
}