.useful-link {
    display: flex;
    flex-direction: column;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.useful-link__text {
    display: none;
}

.useful-link_list {
    list-style-type: none;
    padding: 0;
    margin-top: 18px;
    font-size: 18px;
    line-height: 30px;
}

.useful-link__navigation {
    padding-left: 15px;
    padding-right: 15px;
}

.useful-link__navigation h3 {
    margin-top: 30px;
    text-align: center;
}

.useful-link__navigation-link {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    line-height: 30px;
}

.useful-link__images {
    margin-top: 31px;
}

.useful-link__images-item {
    margin-right: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
}

.footer-navigation__item {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    margin-right: 20px;
    font-size: 14px;
    line-height: 22px;
}

.social-links__item {
    margin-right: 20px;
}

.logo-vertical {
    text-align: center;
}

.logo-vertical__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */
    text-align: center;
    color: #2B292D;
    margin-top: 20px;
}

.logo-vertical__description {
    font-size: 18px;
    line-height: 25px;
    /* or 125% */
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
}

.logo-vertical__image {
    margin-top: 40px;
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 399px) {
    .footer .logo {
        display: none;
    }
}

@media screen and (min-width: 400px) {
    .footer {
        width: 1140px;
        height: 389px;
        display: flex;
        flex-direction: column;
        /* margin: auto auto auto; */
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 43px;
        padding-bottom: 47px;
    }
    .useful-link {
        display: flex;
        flex-direction: row;
    }
    .container1 {
        margin-right: 126px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(43, 41, 45, 0.1);
    }
    .logo-footer {
        margin-right: auto;
    }
    .container2 {
        display: flex;
        flex-direction: row;
    }
    .logo-vertical {
        display: none;
    }
    .useful-link__text {
        display: block;
        font-size: 18px;
        line-height: 26px;
        color: rgba(43, 41, 45, 0.6);
        width: 360px;
        height: 85px;
        margin-top: 30px;
    }
    .useful-link_list {
        padding: 0;
        width: 265px;
        height: 185px;
        margin-top: 18px;
    }
    .useful-link__navigation_company {
        margin-right: 226px;
    }
    .useful-link__images {
        margin-top: 25px;
        margin-right: auto;
    }
    .footer-links {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        border-top: 1px solid rgba(43, 41, 45, 0.1);
        height: 50px;
        line-height: 50px;
    }
    .social-links {
        margin-left: auto;
    }
}