.about {
  background: #F4F5F7;
  padding: 46px 15px;
}
@media screen and (min-width: 400px) {
  .about {
    display: flex;
    padding: 77px 131px 76px 130px;
  }
}
.about article {
  margin-bottom: 20px;
}
@media screen and (min-width: 400px) {
  .about article {
    margin: 0;
    margin-right: 29px;
  }
}
.about article:last-child {
  margin: 0;
}

.article__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
}

.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customers__container {
  display: flex;
  flex: 1;
}
.customers__item {
  height: 94px;
  width: 107px;
  flex: 1;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e3e3e3;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 400px) {
  .customers {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.customers__container {
  flex: 1;
  justify-content: space-around;
  width: 100%;
}
.customers img {
  filter: brightness(0);
  max-width: 80%;
}

.tips {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .tips {
    display: none;
  }
}
.tips__subtitle {
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  /* identical to box height, or 155% */
  color: #009B4D;
}
.tips__title {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2B292D;
}
.tips__title_marg_corr {
  margin-bottom: 18px;
}
.tips__title_marg-corr-2 {
  margin-bottom: 13px;
}
.tips__description {
  font-size: 24px;
  line-height: 34px;
  /* or 142% */
  color: #2B292D;
  margin: 0;
  margin-bottom: 30px;
}
.tips__description-marg-corr {
  margin-bottom: 29px;
}
.tips__image {
  margin: 0;
  margin-top: 29px;
}
.tips__image-caption {
  margin-top: 19px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin-bottom: 40px;
}
.tips__image-caption__marg-corr {
  margin-top: 19px;
}
.tips__image-caption__marg-corr2 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip figure img {
  max-width: 100%;
}

.tip:first-child {
  padding-top: 48px;
}

.features {
  margin-top: 106px;
  position: relative;
  /* display: flex; */
  width: 1879px;
  height: 602px;
  padding-left: 130px;
  padding-right: 130px;
}
@media screen and (max-width: 399px) {
  .features {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  .features {
    margin-bottom: 103px;
  }
}
.features__content {
  width: 457px;
}
.features__image {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 482px;
}
.features__image_left {
  position: absolute;
  top: 258px;
  left: 0;
}
.features__subheader {
  display: flex;
  font-size: 22px;
  line-height: 34px;
  color: #009B4D;
  margin: 0;
  margin-bottom: 24px;
  align-items: center;
}
.features__subheader a {
  text-decoration: none;
  margin-left: 15px;
  font-size: 22px;
  color: #2B292D;
  line-height: 26px;
}
.features__subheader a:hover {
  color: #3142C6;
}
.features__header {
  font-size: 56px;
  line-height: 56px;
  width: 462px;
  height: 112px;
  margin: 0;
  margin-bottom: 30px;
}
.features__text {
  font-size: 24px;
  line-height: 34px;
  width: 461px;
  height: 102px;
  margin: 0;
  margin-bottom: 42px;
}
.features__text2 {
  font-size: 18px;
  line-height: 26px;
  width: 459px;
  height: 60px;
  padding: 0;
  margin: 0;
}
.features__hr {
  background: #2B292D;
  /* opacity: 0.15; */
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .footer {
    align-items: unset;
  }
}
@media screen and (min-width: 400px) {
  .footer__up {
    display: flex;
    margin-left: 130px;
  }
}
.footer__logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .footer__logo-block {
    display: flex;
    flex-direction: row;
  }
}
.footer-logo__long-description {
  display: none;
}
@media screen and (min-width: 400px) {
  .footer-logo__long-description {
    display: block;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    margin: 0;
    margin-top: 26px;
    width: 360px;
    color: rgba(43, 41, 45, 0.6);
  }
}
.footer-logo__image {
  width: 60px;
  height: 60px;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .footer-logo__image {
    margin-top: 43px;
  }
}
@media screen and (min-width: 400px) {
  .footer-logo__text {
    display: flex;
    flex-direction: column;
  }
}
.footer-logo__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  /* or 125% */
  text-align: center;
  color: #2B292D;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 400px) {
  .footer-logo__name {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    text-align: left;
    margin-top: 48px;
  }
}
.footer-logo__description {
  font-size: 20px;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 400px) {
  .footer-logo__description {
    font-size: 18px;
    padding: 0;
    width: 222px;
    margin-left: 15px;
  }
}
.footer__hr {
  margin-top: 40px;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #E3E3E3;
}
@media screen and (min-width: 400px) {
  .footer__hr {
    display: none;
  }
}
.footer-links {
  margin-top: 30px;
  margin-right: auto;
  padding-left: 15px;
}
@media screen and (min-width: 400px) {
  .footer-links {
    display: flex;
    margin: 0;
    height: 50px;
    align-items: center;
  }
}
.footer-links__upper-hr {
  display: none;
}
@media screen and (min-width: 400px) {
  .footer-links__upper-hr {
    display: block;
    width: 100%;
    height: 1px;
    background: #2B292D;
    opacity: 0.1;
    border: none;
    margin: 0;
    margin-top: 47px;
  }
}
.footer-navigation {
  width: 180px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 400px) {
  .footer-navigation {
    margin-left: 130px;
  }
}
.footer-navigation a {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
}

.useful-link {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 400px) {
  .useful-link {
    display: flex;
    padding: 0;
    margin-left: 126px;
  }
}
.useful-link h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */
  margin: 0;
  margin-top: 30px;
  color: #2B292D;
}
@media screen and (min-width: 400px) {
  .useful-link h3 {
    margin-top: 60px;
  }
}
.useful-link_list {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  list-style-type: none;
}
.useful-link_list li {
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
}
.useful-link_list li a {
  color: rgba(43, 41, 45, 0.6);
  text-decoration: none;
}
@media screen and (min-width: 400px) {
  .useful-link_list {
    width: 265px;
    margin-right: 29px;
  }
}
.useful-link__images {
  margin-top: 31px;
}
@media screen and (min-width: 400px) {
  .useful-link__images {
    margin: 0;
    margin-top: 25px;
  }
}
.useful-link__images-item {
  margin-right: 10px;
}

.social-links {
  margin: 0;
  margin-top: 31px;
  margin-bottom: 22px;
}
.social-links__item {
  margin-right: 20px;
}
@media screen and (min-width: 400px) {
  .social-links {
    margin: 0;
    margin-left: auto;
    margin-right: 132px;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: white;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    padding: 0;
    background-color: #F3C6BD;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  background: transparent;
  margin-left: auto;
  height: 100%;
}
@media screen and (min-width: 400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-button-icon {
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  display: inline-block;
}

.logo {
  display: flex;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 400px) {
  .logo__description {
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
    opacity: 0.6;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation {
  display: none;
}
@media screen and (min-width: 400px) {
  .navigation {
    display: block;
    margin-right: 75px;
    margin-left: auto;
    width: 273px;
    display: flex;
    justify-content: space-between;
  }
}
.navigation__arrow {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  display: none;
  width: 8px;
  height: 5px;
  margin-left: 11px;
}
.navigation__item {
  color: #2B292D;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:last-child {
  margin-right: 0;
}

.media__button {
  display: none;
}
@media screen and (min-width: 400px) {
  .media__button {
    display: block;
    margin-right: 0;
  }
}

.top-section {
  background-color: #F3C6BD;
}
@media screen and (min-width: 400px) {
  .top-section {
    padding-top: 39px;
  }
}

.header__button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040C4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: white;
  width: 100%;
  margin-bottom: 15px;
  height: 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  display: block;
}
@media screen and (min-width: 400px) {
  .header__button {
    margin: 0;
    width: 160px;
    height: 48px;
    display: inline-block;
  }
}

.header .header__button {
  display: none;
}
@media screen and (min-width: 400px) {
  .header .header__button {
    display: block;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 400px) {
  .headline {
    position: relative;
    display: flex;
    margin-top: 76px;
    margin-left: 126px;
    padding-bottom: 126px;
    padding-right: 25px;
    max-width: 1249px;
  }
}
.headline__text-content {
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 400px) {
  .headline__text-content {
    margin: 0;
    z-index: 1;
  }
}
.headline__header {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 400px) {
  .headline__header {
    width: 754px;
    height: 165px;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 3;
  }
}
.headline__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
  margin: 0;
  margin-top: 24px;
}
@media screen and (min-width: 400px) {
  .headline__paragraph {
    width: 456px;
    height: 102px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-top: 34px;
  }
}
.headline__buttons {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .headline__buttons {
    margin-top: 58px;
  }
}
.headline__button_light {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  width: 100%;
  height: 48px;
  color: #3040C4;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}
@media screen and (min-width: 400px) {
  .headline__button_light {
    width: 160px;
  }
}
.headline__image {
  width: 100%;
  margin-top: 33px;
}
@media screen and (min-width: 400px) {
  .headline__image {
    margin-top: 8px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
  }
}

.inbox {
  background: rgba(252, 240, 227, 0.4);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 48px;
}
@media screen and (min-width: 400px) {
  .inbox {
    display: flex;
    padding-left: 193px;
    padding-right: 99px;
    padding-top: 115px;
    padding-bottom: 115px;
  }
}
.inbox__small-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 400px) {
  .inbox__small-image {
    display: none;
  }
}
.inbox__big-image {
  display: none;
}
@media screen and (min-width: 400px) {
  .inbox__big-image {
    display: block;
    justify-content: center;
    margin: 0;
    margin-right: 164px;
  }
}
.inbox__big-image-caption {
  display: none;
}
@media screen and (min-width: 400px) {
  .inbox__big-image-caption {
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
  }
}
.inbox__image {
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 32px;
}
@media screen and (min-width: 400px) {
  .inbox__image {
    height: 510px;
    margin: 0;
  }
}
.inbox__subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  /* identical to box height, or 155% */
  color: #F1592B;
}
.inbox__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  /* or 100% */
  letter-spacing: -0.357143px;
  color: #2B292D;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 400px) {
  .inbox__title {
    font-size: 56px;
    line-height: 56px;
    /* or 100% */
    letter-spacing: -0.5px;
  }
}
.inbox__text {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 400px) {
  .inbox__text {
    margin-top: 30px;
  }
}
.inbox__bottom-line {
  margin: 0;
  margin-top: 28px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #0185D0;
  background-blend-mode: overlay, normal;
  height: 4px;
}
@media screen and (min-width: 400px) {
  .inbox__bottom-line {
    margin-top: 24px;
  }
}

.review {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  margin: 0;
  margin-top: 30px;
  padding-top: 30px;
}
@media screen and (min-width: 400px) {
  .review {
    margin-top: 44px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
}
.review_text {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.avatar-container {
  margin-top: 26px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.avatar-container img {
  margin-right: 11px;
  height: 100%;
}

.avatar__title-container {
  display: flex;
  flex-direction: column;
}

.avatar-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.avatar-description {
  font-size: 16px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

.communication {
  padding: 50px 15px;
}
@media screen and (min-width: 400px) {
  .communication {
    padding: 110px 130px 110px 126px;
  }
}
@media screen and (min-width: 400px) {
  .communication__upper {
    margin-bottom: 68px;
    display: flex;
  }
}
@media screen and (min-width: 400px) {
  .communication__lower {
    display: flex;
  }
}
.communication__text-content {
  width: 462px;
  margin-right: 193px;
}
.communication__subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  /* identical to box height, or 155% */
  color: #0189D1;
}
@media screen and (min-width: 400px) {
  .communication__subtitle {
    margin: 0;
    margin-top: 13px;
  }
}
.communication__title {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  /* or 100% */
  letter-spacing: -0.357143px;
  color: #2B292D;
  margin-top: 17px;
}
@media screen and (min-width: 400px) {
  .communication__title {
    margin: 0;
    margin-top: 24px;
  }
}
.communication__text {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
}
@media screen and (min-width: 400px) {
  .communication__text {
    margin: 0;
    margin-top: 30px;
  }
}
.communication__button {
  width: 160px;
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .communication__button {
    margin: 0;
    margin-top: 39px;
  }
}
.communication__small-image {
  margin-top: 40px;
  margin-bottom: 74px;
}
@media screen and (min-width: 400px) {
  .communication__small-image {
    display: none;
  }
}
.communication__small-image img {
  max-width: 100%;
}
.communication__small-image-caption {
  margin-top: 17px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
  text-align: center;
}
.communication__big-image {
  display: none;
}
@media screen and (min-width: 400px) {
  .communication__big-image {
    display: block;
    margin: 0;
  }
}
.communication__big-image-caption {
  margin-top: 15px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
  text-align: center;
}
.communication__text_block {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 26px;
}
.communication__text_block p {
  margin: 0;
}
.communication__text_block a {
  font-weight: bold;
}
@media screen and (min-width: 400px) {
  .communication__text_block {
    width: 33%;
    margin-right: 30px;
  }
}
.communication__text_block:last-child {
  margin-bottom: 0px;
}

.audience {
  padding: 50px 15px;
  background: rgba(0, 161, 198, 0.07);
}
@media screen and (min-width: 400px) {
  .audience {
    padding: 108px 130px 110px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.audience__subtitle {
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
  margin: 0;
  font-weight: bold;
}
.audience__title {
  margin: 0;
  margin-top: 17px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #2B292D;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 400px) {
  .audience__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin: 0;
    margin-top: 24px;
    max-width: 555px;
    font-weight: bold;
  }
}
.audience__text {
  margin-top: 18px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */
  text-align: center;
  color: #2B292D;
}
@media screen and (min-width: 400px) {
  .audience__text {
    margin-top: 30px;
    margin-bottom: 0;
    max-width: 555px;
  }
}
.audience__button {
  width: 100%;
  margin-bottom: 12px;
}
@media screen and (min-width: 400px) {
  .audience__button {
    margin-top: 34px;
    display: inline-block;
    width: 160px;
    margin-bottom: 0px;
  }
}
.audience__button-light {
  background-color: #fff;
  color: #000;
  margin-bottom: 40px;
}
@media screen and (min-width: 400px) {
  .audience__button-light {
    display: inline-block;
    margin: 0;
  }
}
@media screen and (min-width: 400px) {
  .audience__cards {
    display: flex;
    justify-content: space-around;
    margin-top: 111px;
    flex-grow: 1;
  }
}
.audience__card {
  padding: 22px 20px 33px;
  margin-bottom: 15px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .audience__card {
    width: 25%;
    min-width: 260px;
    margin: 0;
    margin-right: 30px;
  }
}
.audience__card-active {
  background: #3141C5;
  box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07), 0px 13px 18px rgba(0, 0, 0, 0.15);
  color: white;
}
.audience__card img {
  max-width: 100%;
}
.audience__card-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-top: 22px;
}

.feedback {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 39px 15px 50px 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .feedback {
    padding: 0;
    padding-bottom: 66px;
    margin: 0;
    margin-top: 76px;
    align-items: center;
    position: relative;
  }
}
.feedback__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  color: #3142C6;
}
.feedback__text {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-top: 29px;
}
@media screen and (min-width: 400px) {
  .feedback__text {
    margin-top: 28px;
    text-align: center;
    max-width: 750px;
  }
}
.feedback__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
}
@media screen and (min-width: 400px) {
  .feedback__name {
    margin-top: 34px;
  }
}
.feedback__job {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.feedback__dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .feedback__dots {
    margin-top: 38px;
  }
}
.feedback__dot {
  background: #3142C5;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 19.5px;
}
@media screen and (min-width: 400px) {
  .feedback__dot {
    margin-right: 13px;
  }
}
.feedback img.small {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .feedback img.small {
    display: none;
  }
}
.feedback img.big {
  display: none;
}
@media screen and (min-width: 400px) {
  .feedback img.big {
    display: block;
    position: absolute;
    right: 26px;
    bottom: 0px;
  }
}

.hiring {
  padding: 50px 15px;
}
@media screen and (min-width: 400px) {
  .hiring {
    padding: 106px 325px 111px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hiring__title {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  /* or 100% */
  text-align: center;
  letter-spacing: -0.357143px;
  color: #2B292D;
}
@media screen and (min-width: 400px) {
  .hiring__title {
    font-size: 56px;
    line-height: 56px;
    /* or 100% */
    text-align: center;
    letter-spacing: -0.5px;
    margin: 0;
  }
}
.hiring__text {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */
  text-align: center;
  color: #2B292D;
  margin-top: 18px;
}
@media screen and (min-width: 400px) {
  .hiring__text {
    margin-top: 20px;
    width: 555px;
  }
}
.hiring__button {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .hiring__button {
    width: 247px;
    margin-top: 28px;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
  }
}

.vacancies {
  margin-top: 39px;
}
.vacancies__card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  margin-bottom: 15px;
  padding-left: 20px;
  padding-bottom: 19px;
  padding-top: 19px;
}
@media screen and (min-width: 400px) {
  .vacancies__card {
    flex-direction: row;
    align-items: center;
    padding: 25px;
    width: 750px;
    height: 81px;
    background: #fff;
    margin-bottom: 20px;
  }
}
.vacancies__card-title {
  font-weight: bold;
  width: 200px;
  font-size: 22px;
  line-height: 28px;
  /* or 127% */
}
@media screen and (min-width: 400px) {
  .vacancies__card-title {
    width: 408px;
    margin-right: 20px;
  }
}
.vacancies__card-loc {
  font-weight: normal;
  width: 200px;
  font-size: 16px;
  line-height: 22px;
  /* or 137% */
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 17px;
}
@media screen and (min-width: 400px) {
  .vacancies__card-loc {
    width: 232px;
    margin: 0;
  }
}
.vacancies__card-ico {
  display: inline-block;
  background: #D5D4D5;
  border-radius: 0px 8px 8px 0px;
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .vacancies__card-ico {
    background: transparent;
  }
}

@media screen and (min-width: 400px) {
  .active {
    background: #3141C5;
    box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07), 0px 13px 18px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (min-width: 400px) {
  .active span {
    color: #fff;
    opacity: 1;
  }
}
@media screen and (min-width: 400px) {
  .active .vacancies__card-ico img {
    filter: brightness(0) invert(1);
  }
}

.order-mob {
  background: #F4F5F7;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .order-mob {
    display: none;
  }
}
.order-mob__small-img {
  margin: auto;
  max-width: 100%;
}
.order-mob__title {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  /* or 100% */
  letter-spacing: -0.357143px;
}
.order-mob__text {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
.order-mob__button {
  margin-top: 12px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040C4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: none;
  width: 100%;
  height: 48px;
  color: #fff;
  font-weight: 700;
}
.order-mob__input {
  margin-top: 40px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  height: 48px;
  color: #2B292D;
  font-weight: normal;
  font-size: 18px;
  line-height: 13px;
  /* identical to box height, or 72% */
  text-align: center;
  color: #2B292D;
  width: 100%;
  text-align: center;
}
.order-mob__add-text {
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  color: rgba(43, 41, 45, 0.6);
  margin-top: 10px;
}

.order {
  display: none;
}
@media screen and (min-width: 400px) {
  .order {
    display: flex;
  }
  .order__img {
    margin: 73px 0px 72px 224px;
  }
  .order__text-content {
    display: flex;
    flex-direction: column;
    margin: 106px 229px 105px 122px;
  }
  .order__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    letter-spacing: -0.25px;
    color: #2B292D;
  }
  .order__text {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    /* or 145% */
    color: #2B292D;
  }
  .order__form {
    display: flex;
    margin-top: 26px;
  }
  .order__input {
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    margin-right: 10px;
    height: 48px;
    padding: 17px 0 18px 15px;
  }
  .order__button {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040C4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    width: 160px;
    height: 48px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
  }
  .order__add-text {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    color: rgba(43, 41, 45, 0.6);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2B292D;
}

.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
